@page
@model BooksModel
@using HW3103
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-page="CreateBook">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publisher</td>
                <td>@book.Year</td>
                <td>
                    <a asp-page="EditBook" asp-route-id="@book.Id">Edit</a> |
                    <a asp-page="DeleteBook" asp-route-id="@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
